/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans, Arial, sans-serif;";
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
    
}

.profile-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 5px;
}

.profile-image{
width:330px ;
height: 330px;
border: 10px solid rgb(16, 109, 64);
border-radius:80% ;
object-fit:cover ;
overflow: hidden;
background-image: url("./image/cat-codespace.png");
background-size: cover;
background-position: center 80px;
}

.profile-user-name{
    font-size: 2.5rem;
    position: relative;
    font-weight: normal;
    top: -300px;
    margin-right: 4px;
    margin-left: 350px;
    font-weight: bold;
}
.btn-profile-edit-btn{
    
    border: 1px solid #000000;
    border-radius: 5px;
    font-weight: bold;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 1.5rem;
    position: relative;
    top: -340px;
    margin-left: 590px;
}

.btn-profile-settings-btn{
    border: 1px solid #f1eeee;
    border-radius: -0.1px;
    font-weight: bold;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 1.5rem;
    position: relative;
    top: -340px;
    margin-left: 30px;
}


.profile-stats {
    display: flex; 
    gap: 1px; 
    font-size: 14px;
    position: relative;
    top: -280px;
    width: calc(2% 1rem);
    margin-left: 70px;
    
   
}

.profile-stat-count{
    font-weight: 600;
    position: relative; 
    margin-left: 350px;
    
}

.profile-bio
{
    font-size: 1.5rem;
    position: relative;
    top: -220px;
    margin-left: 350px;
    margin-right: 4px;
    font-weight: normal;
} 


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .loader {
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    border: 0.5rem solid grey;
    border-bottom-color: transparent;
    border-radius: 50%;
  
    animation: loader 400ms linear infinite;
  }
  @keyframes loader {
    to {
      transform: rotate(360deg);
    }
  }
  .gallery-item {
    position: relative;
    overflow: hidden;
  }
  
  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
  }
  .visually-hidden {
    display: none;
  }
  
  .gallery-item-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(110, 110, 110, 0.3);
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.3s ease-in-out;
  }
  .gallery-item-info > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .gallery-item:hover .gallery-item-info {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
  }
  @media (max-width: 1200px) {
    .gallery {
      gap: 15px;
    }
  
    .profile {
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      font-size: clamp(2rem, 3rem, 4rem);
    }
  }
  @media (max-width: 900px) {
    .gallery {
      gap: 10px;
    }
  
    .profile {
      font-size: clamp(2rem, 2.5rem, 3rem);
    }
  
    .profile-image {
      margin-right: 0;
    }
  
    .profile-user-name {
      font-size: clamp(3rem, 4rem, 5rem);
    }
  
    .profile-stats > ul {
      gap: 1rem;
    }
  }
  
  
  



    







